name: Build Hello World Docker Image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Docker
        uses: actions/setup-docker@v2

      - name: Build Hello World Docker Image
        run: docker build -t hello-world .

      - name: Push Docker Image to GitHub Container Registry
        run: |
          echo ${{ secrets.GITHUB_TOKEN }} | docker login ghcr.io -u ${{ github.actor }} --password-stdin
          docker tag my-hello-world-image ghcr.io/${{ github.repository_owner }}/my-hello-world-image:latest
          docker push ghcr.io/${{ github.repository_owner }}/my-hello-world-image:latest
